.jumbotron{
    background-image: radial-gradient(
        rgba(0,0,0,0),
        rgba(0,0,0,.10),
        rgba(0,0,0,.5),
        rgba(0,0,0,.25),
        rgba(0,0,0,1)),
    url(camera.jpeg);
    color: rgb(231, 211, 179);
    font-family:cursive;
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
}

.container{
    position: relative;
    width: 130px;
    margin: 0 0.5em 2.0em 3em;
    padding: 1.0em;
}

.droparea {
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 160px;
    border: 4px dashed grey;
    border-radius: 15px;
    padding-top: 2rem;
}

.red-border {
    border-color: red;
}

#result{
    display: flex;
    gap: 65px;
    padding: 10px 10px;
}

.thumbnail{
    height: 190px;
}

#demo{
    display: flex;
}